# .NET 编译垃圾
[Bb]in/
[Oo]bj/
.vs/
.vscode/

# 运行成果和发布包
publish_output/
win-x64/
publish/

# 忽略 Templates 文件夹下的所有具体模板文件
# 但我们通过 !.gitkeep 确保文件夹本身会被提交到 GitHub
src/Templates/*
!Templates/.gitkeep

# 忽略个人配置文件
project.json